<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rrappApplication" type="RMH.APP.Admin.Core.ApplicationSection, RMH.APP.Admin.Core" allowExeDefinition="MachineToApplication" requirePermission="false"/>
    <section name="rrappNavigation" type="RMH.APP.Admin.Core.NavigationSection, RMH.APP.Admin.Core" allowExeDefinition="MachineToApplication" requirePermission="false"/>
  </configSections>
  <rrappApplication name="Retail Management Hero Store Manager" type="RMH.RMS.Forms.ModuleBuilder, RMH.RMS.Forms" editable="false">
    <modules>
      <module number="111" name="G/A" enabled="true" type="RMH.RMS.AR.Forms.ModuleBuilder, RMH.RMS.AR.Forms"/>
    </modules>
  </rrappApplication>
  <rrappNavigation>
    <menus>
      <menu number="10"/>
    </menus>
  </rrappNavigation>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
   <requiredRuntime version="v4.0"/>
  </startup>
</configuration>
